@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 2.9rem;
}

h2{
    font-size: 2.3rem;
}

h3{
    font-size: 1.6rem;
}

p{
    font-family: 'Roboto' sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.5rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}



/* utility classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: bold;
}

.container{
    max-width: 1160px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
}

.hover-links{
    color: var(--primary-text-color);
}

.hover-links:hover{
    color: var(--accent-color);
    transition: 0.3s ease-in;
}

.primary-btn{
    background-color: var(--accent-color);
    border-radius: 8px;
    font-weight: 800;
    color: white !important;
    padding: 13px 12px;
    transition: 0.2s ease-out;
}

.primary-btn:hover{
    background-color:var(--accent-color-dark);
}

.secondary-btn{
    border: 0.8px solid var(--secondary-text-color);
    border-radius: 8px;
    font-weight: 800;
    padding: 13px 15px;
    color: black !important;
    transition: 0.2s ease-out;
}

.secondary-btn:hover{
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}



/* Top-Banner */

.banner-text{
    color: white;
    padding: 14px 30px;
    text-align: center;
}

.top-banner{
    background-color: #1d69a3;
}


/* navigation */

.main-nav{
    justify-content: space-between;
    margin-top: 10px;
}

.company-logo img{
    width: 150px;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 55px;
    font-weight: 700;
}



/* middle body */

header{
    padding: 50px var(--padding-inline-section) 0;
}

.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 40vw;
}

.get-started-btn{
    margin-top: 15px;
}

.header-right-image img{
    width: 600px;
}


/* companies section */
.companies-header{
    text-align: center;
    margin-block: 48px;
    color: var(--primary-text-color);
}

.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    height: 40px;
}


/* features-section */

.features-section{
    padding: 90px var(--padding-inline-section) 0;
}

.feature-header{
    text-align: center;
}

.feature-header h2{
    margin-bottom: 20px;
}

.features-area{
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
}

.features-card {
    flex-direction: column;
    gap: 15px;
    max-width: 33%;
    text-align: center;
}

/* example css */
.examples-section {
    padding: 10px var(--padding-inline-section) 0;
}

.examples-features {
    gap: 30px;
}

.example-img img{
    width: 100%;
}

.example-desc{
    flex-direction: column;
    align-items: flex-start;
}


/* footer */

footer {
    padding-block: 70px;
    background-color: #ebf2fa;
}

.link-col ul{
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

